@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Epilogue;
  overflow-x: hidden;
  background-color: hsl(21, 84%, 95%);
}

.section {
  width: 94%;
  margin: 0 auto;
  /* border: 2px solid green; */
}

@media screen and (min-width: 1400px) {
  .section {
    width: 89%;
  }
}

@media screen and (max-width: 600px) {
  .section {
    max-width: 98dvw;
  }
}

@layer utilities {
  /* .max-container {
    @apply mx-auto max-w-[1440px];
  } */

  .padding-container {
    @apply px-3 lg:px-16;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400] leading-8;
  }

  .regular-20 {
    @apply text-[20px] font-[400] leading-8;
  }

  .regular-24 {
    @apply text-[24px] font-[700] leading-8;
  }

  .regular-40 {
    @apply text-[40px] font-[800] leading-[48px];
  }

  .regular-56 {
    @apply text-[56px] font-[800] -tracking-[1px] leading-[64px];
  }

  .regular-72 {
    @apply text-[72px] font-[800] -tracking-[2px] leading-[80px];
  }

  .rounded-f {
    @apply rounded-full p-4 bg-text-lightAccent text-text-light w-max;
  }

  .btn-transparent {
    @apply bg-transparent rounded-lg px-6 text-text-light border-[0.5px];
  }

  .btn-white {
    @apply bg-text-light text-text-dark  px-6;
  }

  .btn-accent {
    @apply bg-text-lightAccent text-text-light rounded-lg;
  }

  .btn-transparent2 {
    @apply bg-transparent rounded-lg px-6 border-[0.5px] border-text-bd text-text-dark;
  }
}
