@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400] leading-8;
  }

  .regular-20 {
    @apply text-[20px] font-[400] leading-8;
  }

  .regular-24 {
    @apply text-[24px] font-[700] leading-8;
  }

  .regular-40 {
    @apply text-[40px] font-[800] leading-[48];
  }

  .regular-56 {
    @apply text-[56px] font-[800] -tracking-[1px] leading-[64];
  }

  .regular-72 {
    @apply text-[72px] font-[800] -tracking-[2px] leading-[80];
  }
}
